<p class="skills">
    <span>.NET</span>
    <span>.NET Core</span>
    <span>ASP.NET</span>
    <span>AWS</span>
    <span>Azure Data Explorer (ADX, Kusto)</span>
    <span>C#</span>
    <span>MongoDB</span>
    <span>Jenkins</span>
    <span>Docker</span>
    <span>Elasticsearch</span>
    <span>Git</span>
    <span>Go</span>
    <span>Jira</span>
    <span>Kubernetes (K8s)</span>
    <span>MSSQL (SQL Server)</span>
    <span>MySQL</span>
    <span>NestJS</span>
    <span>Nginx</span>
    <span>NodeJS</span>
    <span>Python</span>
    <span>RabbitMQ</span>
    <span>React</span>
    <span>Redis</span>
    <span>Terraform</span>
    <span>Typescript</span>
</p>
